.container-calender {
    display: flex;
    flex-flow: row;
}

#add-event {
    background: white;
    height: 82vh;
    width: 20%;
    margin-right: 20px;
    border-radius: 15px;
    align-items: center;
    padding: 0 18px;
}
#add-btn {
    margin-top: 20px ;
    width: 100% ;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.6px;
}

#calendar-wrapper {
    background: white;
    width: 80%;
    border-radius: 15px;
}

#calendar {
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

#calendar-heading {
    margin-top: 12px;
    margin-bottom: 8px;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    background-color: #333;
    opacity: 0.8;
}
.backdrop-rmv {
    display: none;
}

.modal1 {
    position: absolute;
    top: 25%;
    left: 33%;
    height: 50%;
    width: 33%;
    z-index: 10;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}

.modal-rmv {
    display: none;
}

.form1 {
    position: absolute;
    top: 0;
    left: 0;
}

