@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f2f2f2;
}

/* #sidebar-1{              // iski sarri props parent container me daal di
  position: relative;
  z-index: -1; 
  top: 0;
  left: 0;
  height: auto;
  width: 225px;
  background-color: #fff;
} */

.flex-container {
  display: flex;
  flex-flow: row;
}

.sidebar-container {
  position: relative;
  z-index: -1;
  top: 0;
  left: -13px;
  height: 30%;
  width: 250px;
}

#calender-heading {
  padding-top: 20px;
}

/* Navbar */

.bg-light {
  position: relative;
  background-color: white!important;
}

.navbar-brand {
  margin:auto 35px;
  color: #3366ff!important;
  font-weight: 600;
}

.navbar-toggler {
  display: block!important;
  border: none;
  margin-left: 50px;
}

.form-control {
  width: 400px!important;
  margin-left: 20px;
  padding-top: 5px;
  padding-left: 45px;
  background-color: #f2f2f2;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/709px-Vector_search_icon.svg.png");
  background-size:16px;
  background-position: 20px center;
  background-repeat: no-repeat;
  border-radius: 36px;
} 

.navbar-nav {
  position: relative;
  left: 100px;
}

.notification {
    position: relative;
    top: 5%;
    right: 0;
    width: 3em; 
    height: 3em;
    margin-right: 15px;
}    

svg {
  width: 3em;
  height: 3em;
}

path {
  fill: #3366ff;
}

.color-fill {
  fill: #ff764d;
}

.notification--num {
  position: absolute;
  top: 5%;
  left: 65%;
  font-size: 0.5rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #FF4C13;
  border: 4px solid #FF4C13;
  color: #fff;
  text-align: center;
}

/* Navbar over */

/* Sidebar */
.sidebar-container a {
  color: initial;
  font-size: 13px;
  font-weight: 600;
}

.sidebar-container li {
  padding: 0.25em 0;
  list-style: none;
  padding-left: 30px;
}

i {
  display: inline-block;
  width: 1rem;
  margin-right: 13px;
  text-align: right;
}

  /* Sidebar-1 */
#sidebar-1 {
  position: relative;
  top: 0;
  background-color: #fff;
}

#sidebar-1 li:last-child {
  padding-bottom: 20px;
}
  /* Sidebar-1 ends */
  /* Sidebar-2 */

#sidebar-2 {
  position: relative;
  top: -14px;
  background-color: #fff;
}

#sidebar-2 h6 {
  padding-left: 30px;
  padding-top: 8px;
  text-transform: uppercase;
  color: #737373;
  font-size: 13px;
  font-weight: 600;
}

.dash {
  position: absolute;
  top: 0;
  left: -28px;
  height: 100%;
  width: 10px;
  background-color: #3366ff;
  border-radius: 5px;
}

.selected {
  position: relative;
  background-color: #3366ff;
  color: #fff;
  border-radius: 5px;
  margin: auto 20px;
  font-weight: 100;
}

.selected i {
  transform: translateX(-120%);
  margin-right: 0;
}

.selected a{
  color: #fff;
  margin-left: -5px;
}

#sidebar-2 li:last-child {
  padding-bottom: 20px;
}

  /* Sidebar-2 ends */
  /* Sidebar-3 begins */

#sidebar-3 {
  position: relative;
  top: -28px;
  background-color: #fff;
}

#sidebar-3 li:first-child {
  padding-top: 20px;
}

#sidebar-3 li:last-child {
  padding-bottom: 20px;
}
